@page "/dashboard"

@using Blazor.Extensions.Canvas

<div style="background-image: url('img/cik.png');background-size:contain;border: 1px solid black; height: 600px; width: 400px">
    <BECanvas @ref="@_canvasReference" Height="600" Width="400"></BECanvas>
</div>
